/* FONTS */
    @import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Kanit&family=Material+Symbols+Outlined&display=swap');


/* RESETS */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


/* PRESETS */
    html {
        font-size: 62.5%;
        background: darkgray;
    }
    body {
        font-size: 1.5rem;
    }
    img {
        display: block; /* remove gap between div containers */
    }


/* CUSTOM PROPERTIES */
    :root {
        /* img dimensions - in px */
        --avo-width: 600;
        --avo-height: 720;
        --avo-top: 465;         /* top section: height*/
        --avo-mid: 120;         /* middle section: height*/
        --avo-mid-left: 105;    /* ---- sub-section: width */
        --avo-mid-mid: 325;     /* ---- sub-section: width - timer display */
        --avo-mid-right: 170;   /* ---- sub-section: width */
        --avo-mid-bottom: 135;  /* bottom section: height */

        /* img container height */
        --height-top: calc(var(--avo-top) / var(--avo-height) * 100%);
        --height-mid: calc(var(--avo-mid) / var(--avo-height) * 100%);
        --height-bottom: calc(var(--avo-bottom) / var(--avo-height) * 100%);

        /* middle img container width */
        --width-mid-left: calc(var(--avo-mid-left) / var(--avo-width) * 100%);
        --width-mid-mid: calc(var(--avo-mid-mid) / var(--avo-width) * 100%);
        --width-mid-right: calc(var(--avo-mid-right) / var(--avo-width) * 100%);

        /* spacing */
        --spc-md: 3rem;
        --spc-lg: 5rem;

        /* font family */
        --ff-body: sans-serif;
        --ff-heading: 'ADLaM Display', serif;
        --ff-timer: 'Kanit', sans-serif;

        /* font size */
        --fs-h1: 4rem;
        --fs-body: 1.5rem;
        --fs-counter: 9rem;

        /* colors */
        --clr-light: #E8E8E8;
        --clr-dark: #212121;
    }


/* HEADER CONTAINER */
    header {
        margin-top: var(--spc-md);
        font-family: var(--ff-heading);
        font-size: var(--fs-h1);
    }

    h1 {
        text-align: center;
    }

/* MAIN CONTAINER */
    main {
        max-width: 100vw;
        margin-top: var(--spc-lg);
        font-size: var(--fs-body);
        color: var(--clr-dark);
    }

    /* img container for top, middle, and bottom section of timer character */
    .timer-img-container {
        max-width: calc(var(--avo-width) * 1px);
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    /* remove 1px gap between divs when viewport is an odd number and can't be divided equally */
    .timer-img-mid,
    .timer-img-bottom {
        margin-top: -1px;
    }

    /* top img div */
    .timer-img-top {
        height: var(--height-top);
    }
    /* middle img div */
    .timer-img-mid {
        display: flex;
    }

    /* middle img div - left section */
    .timer-img-mid-left {
        width: var(--width-mid-left);
    }
    /* middle img div - middle section / timer display */
    .timer-img-mid-mid {
        background: var(--clr-light);
        width: var(--width-mid-mid);
        font-family: var(--ff-timer);
        font-size: var(--fs-counter);
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 0; /* prevent timer-display div from breaking layout */
        min-height: 0;
        overflow: hidden;
    }
    /* middle img div - right section */
    .timer-img-mid-right {
        width: var(--width-mid-right);
    }

    /* bottom img div */
    .timer-img-bottom {
        height: var(--height-bottom);
    }

    /* timer display */
    .timer-display {
        max-height: 0;
        font-size: var(--fs-counter);

    }

    /* timer control container */
    .timer-control-container {
        margin-top: var(--spc-md);
        display: flex;
        justify-content: center;
    }
    .timer-control-container button {
        
    }
    .timer-control-container span {
        font-size: var(--fs-counter);
    }